<p class="text-center">child works!</p>

<table class="table" *ngIf="dataFromParent">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Check</th>
      </tr>
    </thead>
    <tbody>
        <ng-container>
            <tr>
              <th scope="row">{{ 1 }}</th>
              <td>{{ dataFromParent[0] }}</td>
              <td>{{ dataFromParent[1] }}</td>
              <td>{{ dataFromParent[2] }}</td>
            </tr>
          </ng-container>          
    </tbody>
  </table>
  <input type="text" class="form-control" [(ngModel)]="inputData" /> <br>
  <button class="btn btn-outline-success"  (click)="sendData()">Submit</button>